<template>
  <div class='hello'>   
    
    <ion-phaser :game.prop='juego' :initialize.prop='initialize'/>
  </div>
</template>

<script>
import Phaser from "phaser";


import img from "../assets/logo.png";
import base from "../assets/platform.png";
import cielo from "../assets/sky.png";





export default {
  data() {
    return {
      initialize: true,
      platforms:null,
      juego: {
        width: 800,
        height: 600,
        type: Phaser.AUTO,
        physics: {
          default: 'arcade',
          arcade: {
              gravity: { y: 200 },
              debug: false
          }
        },
        scene: {          
          init() {            
            this.cameras.main.setBackgroundColor("#FFfF00");                        
          },    
          preload(){
            
            
            this.load.image("foto",img);
            this.load.image("cielo",cielo);
            this.load.image("base",base);

            
            

            
            
          }, 
          create() {            
            

            this.add.image(400, 300,"cielo");            
            this.add.image(100,100,"base");
            
                       
            
            this.platforms = this.physics.add.staticGroup();

            this.platforms.create(400, 568, "base").setScale(2).refreshBody();
            this.platforms.create(600, 400, "base");            
            this.platforms.create(50, 250, 'base');
            this.platforms.create(750, 220, 'base');
            

            
            this.jugador = this.physics.add.sprite(100, 400, 'foto');
            this.jugador.scale=0.2;
            console.log(this.jugador);
            this.jugador.setBounce(0.3);//rebote
            this.jugador.setCollideWorldBounds(true); //acepte colisiones

            this.physics.add.collider(this.jugador, this.platforms);

            //this.player = this.physics.add.sprite(100, 450, 'dude');
            //this.texto1=this.add.text(500,200,"TEXTO PRUEBA");    

            
            
          },
          update() { 
            this.cursors = this.input.keyboard.createCursorKeys();
            if (this.cursors.left.isDown){
                this.jugador.setVelocityX(-160);
                //this.jugador.anims.play('left', true);
            }
            else if (this.cursors.right.isDown){
                this.jugador.setVelocityX(160);                
            }
            else
            {
                this.jugador.setVelocityX(0);
            }

            if (this.cursors.up.isDown && this.jugador.body.touching.down)
            {
                this.jugador.setVelocityY(-320);
            }  
                     
          }
        }
      }
    };
  },
  methods: {
    initializeGame() {
      this.initialize = true;
    }
  }
};
</script>

